<div class="jumbotron text-center shadow" id="homepage-background"></div>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-4 jumbo-text text-light">The Stranger Scraper</h1>
            <hr class="my-4">
            <a class="btn btn-secondary btn-lg mr-3" href="/" role="button">Scrape New Articles</a>
            <button type="button" class="btn btn-secondary btn-lg" id="clear-articles">Clear Articles</button
                type="button">
        </div>
    </div>
    <div id="articles">
        {{#each article}}
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <a href="{{this.link}}" class="btn btn-secondary" target="_blank">Go To Article</a>
                        <button type="button" class="btn btn-secondary" id="save-article" 
                            data-title="{{this.title}}" data-link="{{this.link}}">Save Article</button>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>