hr {
  border-color: white;
}

#homepage-background {
  background: url("../images/black-man-reading-a-newspaper-3473492.jpg") no-repeat center center;
  background-size: 100%;
  min-height: 75vh;
}

.jumbo-text {
  /* color: white; */
  font-weight: bold;
}